.background-column{
    background-color: #ecf0f1 !important;
}

.margin-top-20{
    margin-top: 20px !important;
}

.color-sell{
    color: #b94a48;
}

.color-buy{
    color: #468847;
}

.color-orange{
    color: orange;
}

.color-black{
    color: black !important;
}